img {
    width: 200px;
    height: auto;
    padding: 15px;
    border: 3px solid gold;
}

html {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    padding-left: 20px;
}

label {
    display: inline-block;
    width: 500px;
}
