@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    //Displays title for page
    ViewData["Title"] = "Welcome to Marcus' Page";
}
    <!--My personal info-->
    <br />
    <h1>Marcus LaBar</h1>
    <br />

    <img src="img/img_0859.jpeg" />
    <br /><br />

    <p>By taking IS 413, I hope to feel more confident in my ability to write code. Specifically, I want to develop the skill of properly finding answers online and logically thinking about how I can solve a coding problem.</p>
    <br />

    <h3>Top 3 Jobs:</h3>
    <ol>
        <li>Product Management</li>
        <li>Other kinds of Management (Database, Project, etc.)</li>
        <li>TBD</li>
    </ol>
    <br /><br />